{% extends "layout.html" %}
{% block title %}Activation expired{% endblock %}
{% block content %}

    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h4>Your activation key has expired!</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.intro-header -->

{% endblock %}