{% extends "layout.html" %}
{% block title %} User registration{% endblock %}
{% block content %}
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="container">
                        <div class="col-md-4 col-md-offset-4">
                        <h2 class="form-signin-heading">Register here!</h2>
                            <form class="form-signin" role="form" method="post" action="">
                                {% csrf_token %}
                                {% for field in user_form %}
                                    {% if field.errors %}
                                    <div class="form-group error">
                                        <label class="control-label">{{ field.label }}</label>
                                        <div class="controls">{{ field }}
                                            <span class="help-inline">
                                            {% for error in  field.errors %}{{ error }}{% endfor %}
                                            </span>
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="form-group">
                                        <label class="control-label">{{ field.label }}</label>
                                            <div class="controls">{{ field }}
                                                {% if field.help_text %}
                                                    <p class="help-inline"><small>{{ field.help_text }}</small></p>
                                                {% endif %}
                                            </div>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                                    <input class="btn btn-lg btn-primary btn-block" type="submit" name="submit" value="Register"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.intro-header -->
{% endblock %}